.popup_opened {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr min-content min-content 1fr;
    grid-template-areas: ". . ."
                         ". . popup__close-button"
                         ". popup__container ."
                         ". . .";
}

@media screen and (max-width: 600px) {
    .popup_opened {
        gap: 0;
        row-gap: 16px;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: 1fr min-content min-content 1fr;
        grid-template-areas: ". . ."
                             ". popup__close-button . "
                             ". popup__container ."
                             ". . .";
                             justify-items: end;
  
    }
    
}