.header__logo {
    width: 142px;
    height: 33px;
    margin: 45px auto 40px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin: 45px 19px 40px 19px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 28px auto 31.6px 27px;
    }
    
}