.footer__label {
    margin: 66px 0 60px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 900px) {
    .footer__label {
        margin: 56px 19px 46px 19px;
    }
}

@media screen and (max-width: 425px) {
    .footer__label {
        margin: 48px 19px 36x 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        }
}