.popup__element {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 30px 0 0 0;
    max-width: 100%;
    padding: 0 0 8px 0;
    outline: none;
}

.popup__element:nth-of-type(1) {
    margin: 48px 0 0 0;
}

@media screen and (max-width: 600px) {
    .popup__element {
        margin: 31px 0 0 0;
    }
    .popup__element:nth-of-type(1) {
        margin: 75px 0 0 0;
    }
}