.popup__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid #00000033;
    margin: 54px 36px 0 36px;
    max-width: 100%;
    padding: 0 0 13px 0;
}

@media screen and (max-width: 500px) {
    .popup__title {
        font-size: 14px;
        line-height: 17px;
        margin: 75px 22px 0 22px;
    }
}